<title>RESUME</title>
<div class="wrapper">
	<div class="sidebar-wrapper">
		<div class="profile-container">
			<img class="profile ID" src="../../assets/images/m_ID.jpg" alt="" draggable="false" />
			<h1 class="name">Rickben Anthony Q. Gimeda</h1>
			<h3 class="tagline">Software Engineer</h3>
		</div>
		<!--//profile-container-->

		<div class="contact-container container-block">
			<ul class="list-unstyled contact-list">
				<li class="email">
					<i class="fas fa-envelope"></i><a href="mailto: rickbengimeda@gmail.com">rickbengimeda@gmail.com</a>
				</li>
				<li class="phone">
					<i class="fas fa-phone"></i><a href="tel:09451434524">09451434524</a>
				</li>
				<li class="website">
					<i class="fas fa-globe"> </i>
					<a routerLink="/portfolio">PORTFOLIO</a>
				</li>
				<li class="linkedin">
					<i class="fab fa-linkedin-in"></i><a
						href="https://www.linkedin.com/in/rickben-anthony-gimeda-b5973875/"
						target="_blank">linkedin.com/in/rickben</a>
				</li>
				<li class="github">
					<i class="fab fa-github"></i><a href="https://github.com/PSYMA" target="_blank">github.com/PSYMA</a>
				</li>
				<li class="github">
					<i class="fab fa-facebook"></i><a href="https://www.facebook.com/jpakingpotomen/"
						target="_blank">facebook.com/rickben</a>
				</li>
			</ul>
		</div>
		<!--//contact-container-->
		<div class="education-container container-block">
			<h2 class="container-block-title">Education</h2>
			<div class="item">
				<h4 class="degree">Primary Education</h4>
				<h5 class="meta">Umapad Elementary School</h5>
				<div class="time">2002 - 2008</div>
			</div>
			<div class="item">
				<h4 class="degree">Secondary Education</h4>
				<h5 class="meta">Don Gerardo Ll. Ouano MNHS</h5>
				<div class="time">2008 - 2012</div>
			</div>
			<div class="item">
				<h4 class="degree">BS in Computer Engineering</h4>
				<h5 class="meta">University of Cebu-Banilad</h5>
				<div class="time">2017 - 2020 (Undergraduate)</div>
			</div>
		</div>
		<!--//education-container-->

		<div class="languages-container container-block">
			<h2 class="container-block-title">Languages</h2>
			<ul class="list-unstyled interests-list">
				<li>Bisaya <span class="lang-desc">(Native)</span></li>
				<li>English <span class="lang-desc">(Intermediate)</span></li>
				<li>Tagalog <span class="lang-desc">(Intermediate)</span></li>
			</ul>
		</div>
	</div>
	<!--//sidebar-wrapper-->

	<div class="main-wrapper">
		<section class="section summary-section">
			<h2 class="section-title">
				<span class="icon-holder"><i class="fas fa-user"></i></span>Career Profile
			</h2>
			<div div class="summary">
				<p>
					I have been a programmer since 2018 studying random programming
					stuff like web, games, API, or an open-source library. enhancing both of my
					Object-Oriented-Programming and Data Structure and Algorithm skills. I am more into web applications
					writing both front-end and back-end(my forte), love writing everything from scratch. Aiming for more
					knowledge in programming and keep enhancing my skills.
				</p>
			</div>
			<!--//summary-->
		</section>
		<!--//section-->

		<section class="section experiences-section">
			<h2 class="section-title">
				<span class="icon-holder"><i class="fas fa-briefcase"></i></span>Experiences
			</h2>

			<div class="item">
				<div class="meta">
					<div class="upper-row">
						<h3 class="job-title">Software Enginner</h3>
						<div class="time">Nov 16, 2020 - Present</div>
					</div>
					<!--//upper-row-->
					<div class="company">Cebu Skyland Universal Inc.</div>
				</div>
				<!--//meta-->
				<div class="details">
					<p> Being a software engineer I am responsible for writing, debugging, maintaining, and testing the
						code that I have written, and also help others to make their code safer. I do accept whatever
						kind of task that is given to me (if I don't know it, then I'll just need to study it.), like
						using third-party programs or an open-source libraries to use it on our existing/current
						projects.
					</p>
				</div>
				<!--//details-->
			</div>
		</section>
		<!--//section-->

		<section class="section projects-section">
			<h2 class="section-title">
				<span class="icon-holder">
					<i class="fas fa-archive"></i>
				</span>
				Projects
			</h2>
			<div class="intro">
				<p>
					List of projects that I'm responsible for developing and maintaining. and also third-party programs
					and open-source libraries where we study and integrate it with our current existing/projects.
				</p>
			</div>
			<!--//intro-->
			<div class="item">
				<span class="project-title">
					<a>WEB API</a>
				</span>
				-
				<span class="project-tagline">
					<a>Web api's that integrate third-party and open-source program called Microfocus(IDOLServer &
						MediaServer)</a>
				</span>
			</div>
			<div class="item">
				<span class="project-title">
					<a>CHAT SYSTEM</a>
				</span>
				-
				<span class="project-tagline">
					<a>A simple chat system with map integration that needed for other project</a>
				</span>
			</div>

			<div class="item">
				<span class="project-title">
					<a>IMAGE CROPPER</a>
				</span>
				-
				<span class="project-tagline">
					<a>Cropped a portion of an image that has text then process it to Microfocus(MediaServer)</a>
				</span>
			</div>
		</section>
		<!--//section-->
		<section class="section projects-section">
			<h2 class="section-title">
				<span class="icon-holder">
					<i class="fas fa-archive"></i>
				</span>
				RESPONSIBILITIES
			</h2>
			<div class="intro">
				<p>
					List of responsibilities that I usually do as a software engineer
				</p>
			</div>
			<!--//intro-->

			<div class="item">
				<span class="project-title">
					<a>Debugging &amp; Testing</a>
				</span>
				-
				<span class="project-tagline">
					<a>I test all the code/application that I have written and to ensure applications performance</a>
				</span>
			</div>

			<div class="item">
				<span class="project-title">
					<a>Fixing Vulnerabilities</a>
				</span>
				-
				<span class="project-tagline">
					<a>I also help other's project to help fix the code's vulnerabilities</a>
				</span>
			</div>

			<div class="item">
				<span class="project-title">
					<a>Help planning</a>
				</span>
				-
				<span class="project-tagline">
					<a>I also contribute for what is good for the project</a>
				</span>
			</div>
		</section>
		<!--//section-->

		<section class="skills-section section">
			<h2 class="section-title">
				<span class="icon-holder"><i class="fas fa-rocket"></i></span>Skills &amp; Proficiency
			</h2>
			<div class="skillset">
				<div class="item">
					<h3 class="level-title">C# .NET &amp; C# ASP.NET CORE</h3>
					<div class="progress level-bar">
						<div class="progress-bar theme-progress-bar" role="progressbar" style="width: 75%"
							aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
				<!--//item-->

				<div class="item">
					<h3 class="level-title">TypeScript &amp; jQuery</h3>
					<div class="progress level-bar">
						<div class="progress-bar theme-progress-bar" role="progressbar" style="width: 60%"
							aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
				<!--//item-->

				<div class="item">
					<h3 class="level-title">HTML &amp; CSS</h3>
					<div class="progress level-bar">
						<div class="progress-bar theme-progress-bar" role="progressbar" style="width: 35%"
							aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
				<!--//item-->

				<div class="item">
					<h3 class="level-title">Angular</h3>
					<div class="progress level-bar">
						<div class="progress-bar theme-progress-bar" role="progressbar" style="width: 35%"
							aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
				<!--//item-->

				<div class="item">
					<h3 class="level-title">Python</h3>
					<div class="progress level-bar">
						<div class="progress-bar theme-progress-bar" role="progressbar" style="width: 50%"
							aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
				<!--//item-->

				<div class="item">
					<h3 class="level-title">C++</h3>
					<div class="progress level-bar">
						<div class="progress-bar theme-progress-bar" role="progressbar" style="width: 30%"
							aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
				<!--//item-->
			</div>
		</section>
		<!--//skills-section-->
	</div>
	<!--//main-body-->
</div>

<footer class="footer">
	<div class="text-center">
		<!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
		<small class="copyright">
			Designed with
			<i class="fas fa-heart"></i>
			by
			<a href="http://themes.3rdwavemedia.com" target="_blank">
				Xiaoying Riley
			</a>
			for developers
		</small>
	</div>
	<!--//container-->
</footer>
<!--//footer-->