<title>RESUME</title>
<div class="wrapper">
	<div class="sidebar-wrapper">
		<div class="profile-container">
			<img class="profile ID" src="../../assets/images/ID.png" alt="" />
			<h1 class="name">Rickben Anthony Q. Gimeda</h1>
			<h3 class="tagline">Software Engineer</h3>
		</div>
		<!--//profile-container-->

		<div class="contact-container container-block">
			<ul class="list-unstyled contact-list">
				<li class="email">
					<i class="fas fa-envelope"></i
					><a href="mailto: rickbengimeda@gmail.com"
						>rickbengimeda@gmail.com</a
					>
				</li>
				<li class="phone">
					<i class="fas fa-phone"></i
					><a href="tel:09451434524">09451434524</a>
				</li>
				<li class="website">
					<i class="fas fa-globe"> </i>
					<a target="_blank" routerLink="/portfolio">portfolio</a>
				</li>
				<li class="linkedin">
					<i class="fab fa-linkedin-in"></i
					><a
						href="https://www.linkedin.com/in/rickben-anthony-gimeda-b5973875/"
						target="_blank"
						>linkedin.com/in/rickben</a
					>
				</li>
				<li class="github">
					<i class="fab fa-github"></i
					><a href="https://github.com/PSYMA" target="_blank"
						>github.com/PSYMA</a
					>
				</li>
				<li class="github">
					<i class="fab fa-facebook"></i
					><a
						href="https://www.facebook.com/jpakingpotomen/"
						target="_blank"
						>facebook.com/rickben</a
					>
				</li>
			</ul>
		</div>
		<!--//contact-container-->
		<div class="education-container container-block">
			<h2 class="container-block-title">Education</h2>
			<div class="item">
				<h4 class="degree">Primary Education</h4>
				<h5 class="meta">Umapad Elementary School</h5>
				<div class="time">2002 - 2008</div>
			</div>
			<div class="item">
				<h4 class="degree">Secondary Education</h4>
				<h5 class="meta">Don Gerardo Ll. Ouano MNHS</h5>
				<div class="time">2008 - 2012</div>
			</div>
			<div class="item">
				<h4 class="degree">BS in Computer Engineering</h4>
				<h5 class="meta">University of Cebu-Banilad</h5>
				<div class="time">2017 - 2020 (Undergraduate)</div>
			</div>
		</div>
		<!--//education-container-->

		<div class="languages-container container-block">
			<h2 class="container-block-title">Languages</h2>
			<ul class="list-unstyled interests-list">
				<li>Bisaya <span class="lang-desc">(Native)</span></li>
				<li>English <span class="lang-desc">(Intermediate)</span></li>
				<li>Tagalog <span class="lang-desc">(Intermediate)</span></li>
			</ul>
		</div>
	</div>
	<!--//sidebar-wrapper-->

	<div class="main-wrapper">
		<section class="section summary-section">
			<h2 class="section-title">
				<span class="icon-holder"><i class="fas fa-user"></i></span
				>Career Profile
			</h2>
			<div class="summary">
				<p>
					Summarise your career here lorem ipsum dolor sit amet,
					consectetuer adipiscing elit. You can
					<a
						href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/orbit-free-resume-cv-bootstrap-theme-for-developers/"
						target="_blank"
						>download this free resume/CV template here</a
					>. Aenean commodo ligula eget dolor aenean massa. Cum sociis
					natoque penatibus et magnis dis parturient montes, nascetur
					ridiculus mus. Donec quam felis, ultricies nec, pellentesque
					eu.
				</p>
			</div>
			<!--//summary-->
		</section>
		<!--//section-->

		<section class="section experiences-section">
			<h2 class="section-title">
				<span class="icon-holder"><i class="fas fa-briefcase"></i></span
				>Experiences
			</h2>

			<div class="item">
				<div class="meta">
					<div class="upper-row">
						<h3 class="job-title">Software Enginner</h3>
						<div class="time">Nov 16, 2020 - Present</div>
					</div>
					<!--//upper-row-->
					<div class="company">Cebu Skyland Universal Inc.</div>
				</div>
				<!--//meta-->
				<div class="details">
					<p>Describe what is your responsibilities in the company</p>
					<p>Describe what is your responsibilities in the company</p>
				</div>
				<!--//details-->
			</div>
		</section>
		<!--//section-->

		<section class="section projects-section">
			<h2 class="section-title">
				<span class="icon-holder"><i class="fas fa-archive"></i></span
				>Projects
			</h2>
			<div class="intro">
				<p>
					List of projects that I'm responsible for developing and
					maintaining. and also third-party programs & open source
					libraries where we study and integrate it with the project.
				</p>
			</div>
			<!--//intro-->

			<div class="item">
				<span class="project-title">
					<a>Web api</a>
				</span>
				-
				<span class="project-tagline">
					100+ web api's that uses a third party program called
					Microfocus (IDOL Server & MediaServer)
				</span>
			</div>
		</section>
		<!--//section-->

		<section class="skills-section section">
			<h2 class="section-title">
				<span class="icon-holder"><i class="fas fa-rocket"></i></span
				>Skills &amp; Proficiency
			</h2>
			<div class="skillset">
				<div class="item">
					<h3 class="level-title">C# .NET &amp; C# ASP.NET CORE</h3>
					<div class="progress level-bar">
						<div
							class="progress-bar theme-progress-bar"
							role="progressbar"
							style="width: 75%"
							aria-valuenow="60"
							aria-valuemin="0"
							aria-valuemax="100"
						></div>
					</div>
				</div>
				<!--//item-->

				<div class="item">
					<h3 class="level-title">Javascript &amp; jQuery</h3>
					<div class="progress level-bar">
						<div
							class="progress-bar theme-progress-bar"
							role="progressbar"
							style="width: 70%"
							aria-valuenow="98"
							aria-valuemin="0"
							aria-valuemax="100"
						></div>
					</div>
				</div>
				<!--//item-->

				<div class="item">
					<h3 class="level-title">HTML5 &amp; CSS</h3>
					<div class="progress level-bar">
						<div
							class="progress-bar theme-progress-bar"
							role="progressbar"
							style="width: 60%"
							aria-valuenow="95"
							aria-valuemin="0"
							aria-valuemax="100"
						></div>
					</div>
				</div>
				<!--//item-->

				<div class="item">
					<h3 class="level-title">Angular</h3>
					<div class="progress level-bar">
						<div
							class="progress-bar theme-progress-bar"
							role="progressbar"
							style="width: 65%"
							aria-valuenow="98"
							aria-valuemin="0"
							aria-valuemax="100"
						></div>
					</div>
				</div>
				<!--//item-->

				<div class="item">
					<h3 class="level-title">C++</h3>
					<div class="progress level-bar">
						<div
							class="progress-bar theme-progress-bar"
							role="progressbar"
							style="width: 50%"
							aria-valuenow="99"
							aria-valuemin="0"
							aria-valuemax="100"
						></div>
					</div>
				</div>
				<!--//item-->
			</div>
		</section>
		<!--//skills-section-->
	</div>
	<!--//main-body-->
</div>

<footer class="footer">
	<div class="text-center">
		<!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
		<small class="copyright">
			Designed with
			<i class="fas fa-heart"></i>
			by
			<a href="http://themes.3rdwavemedia.com" target="_blank">
				Xiaoying Riley
			</a>
			for developers
		</small>
	</div>
	<!--//container-->
</footer>
<!--//footer-->
